.fade-enter-active
.fade-leave-active
  transition: opacity .4s

.fade-enter
.fade-leave-to
  opacity: 0

.slide-from-left-fade-enter-active
.slide-from-bottom-fade-enter-active
.slide-from-left-fade-leave-active
.slide-from-bottom-fade-leave-active
  transition all .4s ease

.slide-from-left-fade-enter
.slide-from-left-fade-leave-to
.slide-from-bottom-fade-enter
.slide-from-bottom-fade-leave-to
  opacity 0

.slide-from-left-fade-enter
.slide-from-left-fade-leave-to
  transform translateX(-100%)

.slide-from-bottom-fade-enter
.slide-from-bottom-fade-leave-to
  transform translateY(100%)
